h2 {
	font-size: 2.5rem;
	line-height: 1.3;
	padding:80px 0px;
	margin: 0px;
}
/* @media (max-width: 500px) {
	h2 {
		font-size: 3rem;
		line-height: 1.3;
		padding:80px 0px;
		margin: 0px;
	}
} */

.container {
	width: 100%;
	height: 100%;
}

.languageicons {
	position: absolute;
	right: 20px;
	top: 32px;
	z-index: 5;
}

.languageicons a {
	text-decoration: none;
	color: black;
	font-size: 26px;
	font-weight: 700;
	text-shadow: 2px 2px 4px black;
}

.languageicons a:hover {
	color: white;
}

.navbar {
	position: absolute;
	top: 0;
	z-index: 2;
	display: flex;
	width: 100%;
	height: 60px;
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
	text-shadow: 2px 2px 4px black;
}

.navbar ul li {
	padding: 1rem;
}

.navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f4f4;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.7rem;
	font-size: 22px;
}

.navbar ul li a:hover {
	color: black;
}

.slogan {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 75%;
	text-align: center;
	color: #f4f4f4;
	font-size: 3rem;
	letter-spacing: 10px;
	font-weight: 700;
	text-shadow: 4px 4px 4px #000000;
	line-height: 1;
}

i.fab {
	color: white;
}

i.fab:hover {
	color: white;
}

.icons {
	margin-top: 40px;
	font-size: 20px;
}

.icons a {
	text-decoration: none;
}

.icon {
	padding-left: 20px;
	padding-right: 20px;
}
@media (max-wdith: 400px) {
	.icon {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.donatebutton a {
	font-weight: 600;
	text-decoration: none;
	color: black;
	background-color: rgba(255, 255, 255, 0.322);
	border: 5px solid black;
	border-radius: 15px;
	position: absolute;
	top: 75%;
	left: 76%;
	transform: translate(-76%, 0);
	text-align: center;
	padding-left: 6px;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.donatebutton a:hover {
	color: white;
	background-color: black;
}

body,
html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
	position: relative;
	opacity: 0.95;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/* fixed = parallax
     scroll = normal
  */
	background-attachment: fixed;
}

.logocontainer {
	background-image: url('../img/opc_newlogo_small.png');
	background-repeat: no-repeat;
	display: absolute;
	position: absolute;
	left: 64px;
	top: 16px;
	width: 64px;
	height: 64px;
	opacity: 1;
	z-index: 3;
}

.logocontainer2 {
	background-image: url('../img/opc_newlogo_small.png');
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
}

.logocontainer a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.three-tiles {
	width: 100%;
	display: flex;
	/* padding-bottom: 40px; */
}
@media (max-width: 500px) {
	.three-tiles {
		flex-direction: column;
	}
}

.tile{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

.project-tile{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 0px 0px 0px;
}

@media (max-width: 500px) {
	.project-tile{
		padding: 0px 0px 40px 0px;
	}
}

.tile-icon {
    width: auto;
    height: 80px;
}
.tile-number {
	font-size: 40px;
	font-weight: bold;
	margin: 20px 0px;
}
.tile-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
}
.project-tile-title {
	font-size: 16px;
	font-weight: bold;
	margin: 20px 20px;
}
.reconnecting-text {
	margin: 0px 20px 40px 20px;
}

.button-container {
	padding: 20px;
}

.button-light {
	cursor: pointer;
	outline: 0;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 1.2rem;
	/* border-radius: .25rem; */
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #ffffff;
	border-color: #ffffff;
}

.button-light:hover {
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	border-color: #ffffff;
}

.button-dark {
	cursor: pointer;
	outline: 0;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 1.2rem;
	/* border-radius: .25rem; */
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #000000;
	border-color: #000000;
}

.button-dark:hover {
	color: rgb(255, 255, 255);
	background-color: #000000;
	border-color: #000000;
}

.homepage-project-img {
	height: 200px;
	width: auto;
}

@media (max-width: 800px) {
	.homepage-project-img {
		height: 150px;
		width: auto;
	}
}

@media (max-width: 600px) {
	.homepage-project-img {
		height: 120px;
		width: auto;
	}
}

@media (max-width: 500px) {
	.homepage-project-img {
		height: 200px;
		width: auto;
	}
}


.pimg1 {
	background:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
	  ), url('../img/homepage/homepage1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100%;
	display: flex;
	align-items: center;

}

.pimg2 {
	background-image: url('../img/homepage/homepage2.jpg');
	min-height: 400px;
}

.pimg3 {
	background-image: url('../img/homepage/homepage3.jpg');
	min-height: 400px;
}

.section {
	text-align: center;
	padding: 0px 80px 80px 80px;
}

@media (max-width: 700px) {
	.section {
		padding: 0px 40px 80px 40px;
	}
}

@media (max-width: 400px) {
	.section {
		padding: 0px 30px 80px 30px;
	}
}

.section-light {
	background-color: #f4f4f4;
	color: rgba(0, 0, 0, 1);
}

.section-light a {
	color: rgba(0, 0, 0, 1);
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
}

.section-dark a {
	color: #ddd;
}

.ptext {
	position: absolute;
	top: 60%;
	width: 100%;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 52px;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-shadow: 4px 4px 4px #000000;
	line-height: 45px;
}

.homepage-title-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

.homepage-title {
	margin: 40px 160px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 40px;
	letter-spacing: 4px;
	text-transform: uppercase;
	line-height: 1.3;
}

@media (max-width: 1000px) {
	.homepage-title {
		margin: 40px 80px;
		font-size: 30px;
		letter-spacing: 4px;
	}
}

@media (max-width: 500px) {
	.homepage-title {
		margin: 40px 20px;
		font-size: 24px;
		letter-spacing: 4px;
	}
}

.homepage-subtitle-container {
	position: absolute;
	top: 65%;
	width: 100%;
	display: flex;
}

.homepage-subtitle {
	margin: 0px 160px;
	color: rgb(255, 255, 255);
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	line-height: 1.3;
}
@media (max-width: 1000px) {
	.homepage-subtitle {
		margin: 0px 80px;
	}
}

@media (max-width: 500px) {
	.homepage-subtitle {
		margin-left: 20px;
		margin-right:20px;
		font-size: 16px;
	}
}

.organisations-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
}

.organisations-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.organisation-logo-div {
	display: flex;
	flex: 1;
	padding: 20px;
	align-items: center;
	justify-content: center;
}

.organisation-logo {
    width: auto;
    height: 100px;
}

@media (max-width: 500px) {
	.organisation-logo {
		width: 150px !important;
		height: auto;
	}
}

.picons {
	/* position: absolute;
	top: 50%;
	width: 100%; */
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 44px;
	text-transform: uppercase;

	line-height: 40px;
}

.ptext .border {
	color: #fff;
	padding: 20px;
}

.ptext .border.trans {
	background-color: transparent;
	text-shadow: 3px 3px 3px #000000;
}

#mc_embed_signup {
	background: #282e34;
	clear: left;
	font: 14px 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;
}

.ghanaicon {
	background: url('../img/Ghana.png');
	height: 24px;
	width: 24px;
	display: inline-block;
}

#main-foot {
	text-align: center;
	line-height: 20px;
	padding: 1rem;
	background: #2b2b2b;
	color: #fff;
	height: 20px;
}

@media (max-width: 1580px) {
	.navbar {
		display: none;
	}
}

@media (max-width: 800px) {
	body,
	html {
		font-size: 14px;
	}

	.slogan {
		font-size: 1.8rem;
	}

	.donatebutton a {
		top: 75%;
		left: 50%;
		transform: translate(-50%, 0);

		font-size: 22px;
		letter-spacing: 8px;
	}
}

@media (max-width: 568px) {
	.pimg1,
	.pimg2,
	.pimg3 {
		background-attachment: scroll;
	}
}

@media (max-width: 568px) {
	.ptext {
		font-size: 24px;
		top: 34%;
	}

	.slogan {
		top: 70%;

		font-size: 18px;
		letter-spacing: 10px;
	}

	body,
	html {
		font-size: 10px;
	}

	.picons {
		font-size: 28px;
	}
}

@media (max-height: 500px) {
	.icons {
		font-size: 20px;
	}
}
